/.venv
/.vscode
/camera_publisher/_build
/camera_subscriber/_build
/camera_publisher/code/proto_python/__pycache__
/person_detection/_build
/archive_cpp/laptop/person_detection/code/data
/laptop/person_detection/code/proto_python/__pycache__
/person_follower/_build
/archive_cpp/laptop/person_follower/code/data
/laptp/person_follower/code/proto_python/__pycache__
/rover/_build
/rover/code/data
/laptop/manual_control/code/proto_python/__pycache__
/laptop/person_detection/code/data
/laptop/person_follower/code/data
/laptop/movement_publisher/code/__pycache__
/laptop/camera_subscriber/code/proto_python/__pycache__
/laptop/person_follower/code/proto_python/__pycache__
/raspberry_pi/movement_subscriber/code/__pycache__